# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual env
venv/
.venv/

# Environment files
.env
.env.*
!.env.example

# Django generated
media/
staticfiles/

# Test/cache/tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/

# IDE
.vscode/
.idea/
.DS_Store
